body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'outfit';
}

.backgroundBox {
    background-color: hsl(0, 0%, 100%);
    width: 285px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(60, 60, 60, 0.15);
    padding: 1rem 1rem 2.5rem 1rem;
}

img {
    display: block;
    width: 275px;
    height: auto;
    margin: auto;
    border-radius: 15px;
}

h1 {
    font-size: 22px;
    margin-bottom: 1rem;
}

p {
    font-size: 15px;
    color: #68778D;
}

.text {
    padding: 0 1rem;
    text-align: center;
    margin-top: 1.5rem;
}

@font-face {
    font-family: 'outfit';
    src: url('Outfit-Regular.ttf');
}